/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.page-header a {
  position: absolute;
  right: 20%;
  top: 5%;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* h2 & h3 */ 
h2 {
  font-size: 16px;
}

.motto {
  text-align: center;
}

h3 {
  font-size: 14px;
  display: inline;
  margin-right: 25px;
}

h3 img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 960px;
}
.container .credit {
  margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-header a {
    right: 10%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    /*font-size: 12px;*/
    display: block;
    margin-right: 0;
    text-align: center;
    line-height: 10px;
  }
  
}
